.login-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f9fafb;
}

.login-box {
  background: white;
  padding: 40px;
  width: 320px;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
  text-align: center;
}

.login-box h2 {
  margin-bottom: 20px;
  color: #0b2545;
}

.login-box input {
  width: 100%;
  padding: 10px;
  margin-bottom: 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.login-box button {
  width: 100%;
  padding: 10px;
  background-color: #177245;
  color: white;
  border: none;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
}

.login-box button:hover {
  background-color: #145c38;
}
.cadastro-link{
  margin-top:15px;
  font-size:14px;
}

.cadastro-link a{
  color:#1b7f5a;
  text-decoration:none;
  font-weight:600;
}